html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input[type="search"]{
  -webkit-appearance: textfield;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Inician mis estilos */

body{
	font-size: 14px;
	color: #4d5156;
}

a{
	font-size: 20px;
	line-height: 1.3;
	color: #1a0dab;
	text-decoration: none;
	line-height: 35px;
}
b{
	text-decoration: black;
	font-weight: bold;
}

.footer1{
	display: flex;
	border-top: 2px solid #e4e4e4;
	width: 100%;
	background-color: #f2f2f2;
	font-size: 14px;
	align-items: center;
}

.footer2{
	border-top: 1px solid #e4e4e4;
	font-size: 14px;
	width: 100%;
	background-color: #f2f2f2;
}

a:hover{
	text-decoration: underline;
}

.main{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-top: 15px;
	line-height: 1.58;
	width: 600px;
}

.video-results{
	display: flex;
	flex-direction: column;
	width: 220px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 10px;
	margin: 0px 5px;
	justify-content: space-between;
}

.video-thumbnail{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.duration{
	position: relative;
	background-color: rgba(0, 0, 0, 0.54);
	color: white;
	font-size: 12px;
	border-radius: 2px;
	padding: 3px 4px 0 4px;
}

.links-busquedas{
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	width: max-content;
	padding: 3px 0;
	padding-right: 32px;
}

.google-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: max-content;
	height: 56px;
	position: relative;
	left: 150px;
}

.google-letters-container{
	display: flex;
	height: 40px;
	width: 20px;
	padding: 0 1px;
}

.google-letters-images{
	display: flex;
	width: 20px;
	height: 20px;
	align-self: flex-end;
}

.google-numbers-container{
	display: flex;
	height: 40px;
	width: 20px;
	padding: 0 1px;
	font-size: 14px;
	height: 16px;
	justify-content: center;
	color: #4285f4;
}

.links-busquedas:hover{
	text-decoration: underline;
	cursor: pointer;
}

.white-video{
	width: 48px;
	height: 48px;
	position: relative;
	top: -83px;
	left: 82px;
}

.search-icon-busquedas{
	width: 14.58px;
	height: 14.58px;
	margin-right: 15px;
}

.video-link{
	font-size: 16px;
	line-height: 1.375;
	color: #1a0dab;
	text-decoration: none;
	font-weight: 500;
	padding: 0px 50px 0 15px;
	position: relative;
	top: -35px;			
	height: 88px;
	justify-self: flex-start;
}

.video-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

.block{
	padding-top: 25px;
}

.pageresult{
	color: #202124;
}

.footer-link{
	font-size: 14px;
	color: #4d5156;
}

.footer-link:hover{
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

.footer-link2{
	font-size: 14px;
	color: #4d5156;	
	margin-left: 25px;
}

.footer-link2:hover{
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

#anuncio{
	display: block;
	padding-top: 5px;
}

#mexico{
	margin-left: 25px;
	padding-right: 13px;
	border-right: rgba(0, 0, 0, 0.15) 1px solid;
}

#lajoya{
	padding-left: 20px;
}

#letter-g{
	height: 30px;
	width: 30px;
}

#letter-g-container{
	width: 30px;
}

#gle-container{
	width: 60px;
	height: 60px;
	position: relative;
	top: 10px;
}

#gle{
	height: 40px;
	width: 50px;
}

#google-letters{
	margin-bottom: 40px;
}

#siguiente{
	position: relative;
	left: 80px;
}

.container{
    display: grid;
    grid-template-rows: 65px 48px 53px 1fr 40px 40px;
	grid-template-columns: 150px 1fr 233.2px;
	grid-template-areas: 
		"logo search menu"
		". tabs ."
		"results results results"
		". main ."
		"footer1 footer1 footer1"
		"footer2 footer2 footer2";
}
.logo{
	grid-area: logo;
	padding-top: 28px;
	padding-left: 25px;
}
.search{
	display: flex;
	flex-wrap: nowrap;
	padding: 20px 0 0 13px;
	width: 100%;
}
.menu{
	display: flex;
	flex-wrap: nowrap;
}

.tabs{
	display: flex;
	flex-wrap: nowrap;
	padding-top: 20px;
	padding-left: 20px;
	justify-content: space-between;
	width: 670px;
}
.tab_container{
	display: flex;
	justify-content: center;
	width: 71px;
	font-size: 13px;
	margin: 0px 0px;
	text-decoration: none;
	margin-bottom: -15px;
}

.tab_text{
	color: #5f6368;
	align-self: center;
	padding: 0px 4px;
}

.black-text{
	color: black;
}

.video-results-text{
	font-size: 14px;
	line-height: 1.58em;
	text-decoration: none;
	font-weight: 500;
	padding: 0px 30px 0 15px;
	position: relative;
}

.results{
	width: auto;
	border-top: solid 1px rgb(218, 218, 218);
	margin-top: 15px;
	justify-content: start;
	color: #70757a;
	padding: 15px 30px;
}

#busquedas{
	color: #222;
	font-size: 20px;
	line-height: 1.3;
	margin-top: 30px;
	margin-bottom: 30px;
}

#todo{
	border-bottom: 3px;
	border-style: solid;
	border-color: rgb(6, 59, 175);
}

#preferencias{
	margin-left: 5px; 
	margin-right: 25px;
}

#videos{
	display: flex;
	padding-top: 20px;
	margin-bottom: 10px;
	position: relative;
	left: 10px;
	align-self: center;
	align-content: center;
}

#videotext{
	display: block;
	margin-left: 7px;
	color: black;
	text-decoration: none;
	align-self: center;
	margin-left: 15px;
}

#playvideo{
	align-self: center;
}

#searchbar{
	display: flex;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	background-color: transparent;
	width: 692px;
	padding-left: 20px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
#cruz{
	position: relative;
	align-self: center;
	left: -79px;
}
#lupa{
	position: relative;
	align-self: center;
	left: -55px;
}
#grid{
	position: relative;
	top: 36px;	
	left: 18px;
}
#circulo{
	background-color: #dfe1e5;
	border-radius: 50%;
	box-shadow: 0 0 0 15px #dfe1e5 ;
	display: none;
	width: 10px;
	height: 10px;
	opacity: 0.5;
	z-index: -1;
	position: relative;
	top: 39px;
	left: 5px;
}
#grid:hover + #circulo{
	display: block;
}


#grid:hover ~ #boton{
	left: 30px;
}

.button {
	color: #fff;
	background: #256ece;
	position: relative;
	top: 25px;
	left: 40px;
	border: 0px;
	border-radius: 4px;
	align-content: center;
	width: 135px;
	height: 36px;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

.button:hover{
	box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
	background: #296bc2;
	
}

#boton{

}

#video-bloc{
	display: flex;
	
}
